<html>
    <center> <h1> Your Registration Form </h1></center>

<form action="http://localhost:5000/personalInfo_save" method="post">
Name:<input name="name"> <br>
Department:
    <select name="department">
        <option value="HR"> Human Resources</option>
        <option value="IT"> Information Tech</option>
        <option value ="Sales"> Sales Team</option>
</select> <br>
Address:<input type="text" name="address"><br>
Country:
    <select name="country">
        <option value = "England"> England </option>
        <option value = "Scotland"> Scotland </option>
        <option value = "Wales"> Wales </option>
        <option value = "Ireland"> Ireland </option>
    </select><br>

<input type="submit">
</form>

</html>
